* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}
 
.contenedorBotones {
  border-radius: 25px 25px 25px 25px;
  max-width: 750px;
  padding: 50px 30px 0px 30px;
  text-align: center;
  background-color: rgb(255 138 55 / 90%);
  margin: auto;
  box-shadow: 1px 1px 30px 1px rgb(0 0 0);
  border: 5px solid white;
}
.contenedorBotones > div > button {
  font-weight: 750;
  font-size: small;
  border-radius: 10px;
  margin-block-end: 50px;
  width: 100%;
  height: 75%;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-color: black;
  color: rgb(255, 255, 255);
}
#cerrarSesion {
  display: inline;
  font-weight: 750;
  font-size: small;
  border-radius: 10px;
  margin-block-end: 50px;
  width: 100%;
  height: 75%;
  border-color: black;
}
 
.aviCampo {
  background-color: floralwhite;
  height: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
 
input[type="number"] {
  background-color: #f6f6f6;
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
input[type="number"]:focus {
  background-color: #ffffff;
  border-bottom: 2px solid #ff0000;
}
input[type="number"]:placeholder {
  color: #cccccc;
}
 
input[type="text"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
input[type="text"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #ff0000;
}
input[type="text"]:placeholder {
  color: #cccccc;
}
 
input[type="time"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
input[type="time"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #ff0000;
}
input[type="time"]:placeholder {
  color: #cccccc;
}
 
.form-select {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
select:focus {
  background-color: #fff;
  border-bottom: 2px solid #ff0000;
}
select:placeholder {
  color: #cccccc;
}
#cerrarSesion {
  font-weight: 750;
  font-size: small;
  border-radius: 10px;
  margin-block-end: 50px;
  width: 100%;
  height: 75%;
  text-decoration: none;
  display: grid;
  align-items: center;
}
#contNewUser {
  background-color: rgb(255 138 55);
  border-radius: 25px;
  border: 5px solid white;
  box-shadow: 1px 1px 100px 1px #b91717;
}
#headNewUser {
  display: flex;
  justify-content: center;
}
#modalNewUser {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  display: flex;
  text-align: center;
}
#footerNewUser {
  display: flex;
  justify-content: center;
}
.text-muted-newUser {
  color: #ffffff !important;
  font-weight: 700;
}
#footer1 {
  justify-content: center;
  display: block;
}
.reloj {
  color: white;
  font-weight: bold;
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
legend {
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.479);
  display: grid;
  color: rgb(0, 0, 0);
}
.nav-link {
  color: #000000;
}
.nav-link:hover {
  color: red;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: rgb(255 138 55);
  border-color: transparent;
}
 
.form-time {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
#responsableRegis {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
 
.table.dataTable tbody th,
table.dataTable tbody td {
  padding: 7px !important;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: white !important;
  font-weight: 400;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: white !important;
  font-weight: 700;
}
.dataTables_wrapper .dataTables_length select {
  background-color: white !important;
  font-weight: 700;
}
.dataTables_wrapper .dataTables_filter input {
  background-color: white !important;
}
#cabeceraDos > td,
#cabeceraTres > th {
  border: 1px outset !important;
}
#cabeceraDos > td {
  font-weight: 800;
  background-color: gainsboro;
}
label {
  font-size: larger;
  font-weight: 700;
  font-style: italic;
  color: black;
}
 
span.select2-selection.select2-selection--single {
  display: inline-table;
  font-size: larger;
  margin: 5px;
  width: 100%;
}
span#select2-cMariDespreProduc-container,
span#select2-devolProduc-container,
span#select2-devolDestino-container,
span#select2-devolCausa-container,
span#select2-devolRuta-container,
span#select2-vendedor-container,
span#select2-cMariAdoProduc-container,
span#select2-cMariVDesprProdu-container,
span#select2-cMariAdoVProduc-container,
span#select2-cProcMuesProd-container,
span#select2-cProcVMuesProd-container,
span#select2-tempDesPro1-container,
span#select2-tempDesPro2-container,
span#select2-tempDesPro3-container,
span#select2-tempDesPro4-container,
span#select2-tempDesPro5-container,
span#select2-tempDesPro6-container,
span#select2-tempDesPro7-container,
span#select2-tempDesPro8-container,
span#select2-tempDesPro9-container,
span#select2-tempDesPro10-container,
span#select2-tempDesPro11-container,
span#select2-tempDesPro12-container,
span#select2-tempDesPro13-container,
span#select2-tempDesPro14-container,
span#select2-tempDesPro15-container,
span#select2-tempDesPro16-container,
span#select2-tempDesPro17-container {
  padding: 25px;
  padding-right: 5px;
  padding-left: 5px;
  contain: strict;
  font-size: smaller;
  line-height: 5px;
}
.select2-selection {
  overflow: hidden;
}
.select2-selection__rendered {
  white-space: normal;
  word-break: break-all;
}
span.select2-dropdown.select2-dropdown--below,
span.select2-dropdown.select2-dropdown--below {
  font-size: larger;
}
span.select2-selection__arrow {
  top: 20px !important;
}
.not-active {
  pointer-events: none;
  cursor: default;
}
 
.select2-container .select2-selection--single {
  height: 45px !important;
  display: flex;
  align-items: center;
}